# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env
.env.test
.env.local

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS related files
.DS_Store
Thumbs.db

# Build directory (if applicable)
dist/
build/
